
.title {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left;
  
}

.date {
  text-align: left;
  margin: 5px;

  
}

/*#blog-holder {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
*/
body {
  padding-top: 70px;
  background-color: rgb(240,240,240);
}

.set-height {
    display: block;
    display: -webkit-box;
    height: 150px;
 /*   margin: 0 auto;*/
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#entireBlog {
  min-height: 50px;
}

.navbar {
  background-color: #aefcf3;

}