.overallBlogDiv {
  background-color: $aboutBody;
  margin-top: -10px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left; 
}

.date {
  text-align: left;
  margin: 5px;
}

.set-height {
    display: block;
    display: -webkit-box;
    height: 150px;
 /*   margin: 0 auto;*/
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entireIndivBlog {
  min-height: 50px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  font-color: gray;
}





