.contactHeader {
	margin-top: 20px;
}

.introduce {
	margin-bottom: 60px;
}

.picture {
	padding: 0px;
	display: block;
	margin: 0 auto;
}

.pictureCait {
	height: 100%;
}

.detailHead {
	font-size: 20px;	
	font-weight: bold;
}
.detailH5 {
	font-size: 16px;
	margin-bottom: 3px;
	color: white;
}

.detailP {
	font-size: 14px;
	font-style: italic;
}	

.education, .profile, .picture {
	background-color: $aboutBody;
	height: 267.33px;
	// margin: 0px;
}

.contactContainer {
	background-color:$aboutBody;
}

.WaysToContact {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
	color: white;
	justify-content: center;
}

.sectionInfo {
	align-content: center;
}

.quoteContainer {
	background-color: $secondColor;
	color: white;
	font-size: 24px;
	font-style: italic;

	.quote {
		margin-top: 20px;
		text-align: center;
		font-style: italic;


	}
}

.author {
		margin-left: 500px;
}