.navbar {
	background-color: white;
}

body {
	margin-top: 60px;
	margin-bottom: 60px;
	color: white;
	background-color: #b3d1d3;
   // background-image: url("../images/lavender.jpg");

}

h1 {
    text-shadow: 2px 2px 10px white;
}

.footer {
	display: inline-block;
	margin-left: 15px;
}