.mainHeader {
	margin-bottom: 30px;
}
.too {
	height: 300px;
}
.project {
	justify-content: center;
	text-align: center;

	.words {
		text-align: left;
	}

	.header {
		font-weight: bold;
		font-size: 20px;
		color: gray;
	}
}

.too {
	-webkit-box-shadow: 4px 4px 5px 0px rgba(168,168,168,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(168,168,168,1);
	box-shadow: 4px 4px 5px 0px rgba(168,168,168,1);
}

//the picture of the project screenshot
.screenshot {
	margin-top: 5px;
	margin-bottom: 20px;
	max-height: 100%;
	max-width: 100%;
	border: 1px solid lightgray;
	position: relative;
}
.list {
		color: gray;
	}