<div class="aboutMeDiv">
	<div class="pgDiv aboutFlex">
		<div class="col-xs-10 col-md-5 aboutMe">
			<h1 class="caitlinH1">Caitlin Murnick</h1>
			<h4 class="caitlinH4">Developer</h4>
				<p class="firstdescription">
					A conscientious, fast learner offering the ability to assess an organization’s needs and create a complementary, robust web presence. Driven professional with broad technical skill set.  Excellent communicator and known for the ability to multi-tast and judggle multiple pressing projects simulatneaously, meeting all deadlines. 
				</p>
				<p class="firstdescription">
					Currently looking for a software developer opportunity that will allow her to work alongside an expert team of developers. Thereby helping to drive her career progression to more senior roles in the future.
				</p>
				
		</div>

		<div class="col-md-6  aboutFlex">
			<img ng-src="./images/orchid.png">
		</div>
	</div>
</div>







	