<div class="aboutMeDiv">
	<div class="pgDiv aboutFlex">
		<div class="col-xs-10 col-md-5 aboutMe">
			<h1 class="caitlinH1">Caitlin Murnick</h1>
			<h4 class="caitlinH4">Developer</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel dui tincidunt, semper lacus eget, suscipit magna. Aliquam lacinia rhoncus porttitor. Fusce ac ultrices ante, et aliquam mi. Suspendisse eros ligula, varius ac venenatis a, elementum sit amet massa. Donec vitae commodo orci. Mauris finibus orci lectus, nec ornare mi consectetur et. Mauris fringilla velit et ligula sodales ullamcorper. Sed nec magna vitae tellus varius lacinia et in mauris. Sed sed risus at ex fringilla posuere non a nunc. Integer ac massa non quam placerat rutrum ac ut massa. Aliquam luctus libero vitae eros euismod efficitur. Quisque iaculis erat quam, a lacinia turpis elementum ut. Suspendisse aliquet rutrum semper. Mauris malesuada, metus ultrices iaculis consequat, leo lectus blandit felis, at bibendum erat nulla sed odio. Sed finibus justo vitae sapien fermentum auctor.
				</p>
				
		</div>

		<div class="col-md-6  aboutFlex">
			<img ng-src="./images/orchid.png">
		</div>
	</div>
</div>







	