<div class="text-center">
  <h1 class="mainHeader">My Blog Posts</h1>




  <div class="container-fluid">
    <!-- <div class=" row"> -->
      <div><h4>Click on any blog post to view the entire post here:</h4></div>
      <div id="entireIndivBlog" class ="col-xs-10 col-xs-offset-1" ng-click=showEntireBlog(blog.id)" ></div>    
    </div>
  </div>


	
<div class="row ">
<div class="container-fluid" id="blog-holder">
</div>
</div>

	
	<div class="footer text-center container-fluid" >
		<p>&copy; 2017 Caitlin Murnick</p>
	</div>

</div>
<  <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
<script
  <script type="text/javascript" src="lib/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/app.js"></script>

</body>




