<div class="contactMainDiv col-md-8 col-md-offset-2">
	<div class="contactHeader">
		<h1>About Me</h1>
		<h4>Let me introduce myself</h4>
	</div>	

	<div >
		<div class="col-md-4 profile">
			<h4>Profile</h4>
			<h5>Complete Name</h5>
				<p>Caitlin Murnick</p>
			<h5>Phone Number</h5>
				<p>630-333-6424</p>
			<h5>Website</h5>
				<p>caitlinmurnick.com</p>
			<h5>E-mail</h5>
				<p>caitlinmurnick@gmail.com</p>
		</div>
		<div class="col-md-4">
			<img class="pictureCait" src="../images/caitlin.jpg">
		</div>
		<div class="col-md-4 education">
			<h4>Education</h4>
			<h5>University of Illinois Urbana-Champaign</h5>
				<p>BS Business Administration</p>
			<h5>Nashville Software School</h5>
				<p>Full-Stack Developer</p>
		</div>
	</div>





</div>


	<!-- <div>
			<div>
				<h1>How To Contact Me</h1>
					<section> 	
						<a href="mailto:caitlinmurnick@gmail.com">caitlinmurnick@gmail.com</a><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://github.com/cmurnick">Caitlin's GitHub</a><i class="fa fa-github fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://www.facebook.com/caitlin.murnick">Facebook</a><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://www.linkedin.com/in/caitlin-murnick-8856764/">LinkedIn</a><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
					</section>
			</div>
	
			
	</div>

	
	

</div>
 -->