<div class="contactMainDiv col-md-8 col-md-offset-2">
	<div class="contactHeader text-center">
		<h1>About Me</h1>
		<h4 class="introduce">Let me introduce myself</h4>
	</div>	

	<div class="allThree ">
		<div class="col-md-4 col-sm-3 col-xs-6 profile">
			<h4 class="detailHead">Profile</h4>
			<h5 class="detailH5">Complete Name</h5>
				<p class="detailP">Caitlin Murnick</p>
			<h5 class="detailH5">Phone Number</h5>
				<p class="detailP">630-333-6424</p>
			<h5 class="detailH5">Website</h5>
				<p class="detailP">caitlinmurnick.com</p>
			<h5 class="detailH5">E-mail</h5>
				<p class="detailP">caitlinmurnick@gmail.com</p>
		</div>
		<div class="col-md-4 col-sm-3 col-xs-6 picture">
			<img class="pictureCait" src="../images/caitlin.jpg">
		</div>
		<div class="col-md-4 col-sm-3 col-xs-6 education">
			<h4 class="detailHead">Education</h4>
			<h5 class="detailH5">University of Illinois Urbana-Champaign</h5>
				<p class="detailP">BS Business Administration</p>
			<h5 class="detailH5">Nashville Software School</h5>
				<p class="detailP">Full-Stack Developer</p>
		</div>
	</div>
	<div class="col-md-12  col-sm-12 contactContainer text-center">
		<p class="WaysToContact">Ways to Contact Me</p>
		<section class="sectionInfo"> 	
			<a ng-href="mailto:caitlinmurnick@gmail.com"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
	
			<a ng-href="https://github.com/cmurnick"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
	
			<a ng-href="https://www.facebook.com/caitlin.murnick"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
	
			<a href="https://www.linkedin.com/in/caitlin-murnick-8856764/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
		</section>
		
	</div>
	<div class="col-md-12  col-sm-12 quoteContainer">
		<p class="quote">Two roads diverged in a wood, and I —
			I took the one less traveled by,
			and that has made all the difference.</p>
		<p class="author"> - Robert Frost</p>
	</div>




</div>


	<!-- <div>
			<div>
				<h1>How To Contact Me</h1>
					<section> 	
						<a href="mailto:caitlinmurnick@gmail.com">caitlinmurnick@gmail.com</a><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://github.com/cmurnick">Caitlin's GitHub</a><i class="fa fa-github fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://www.facebook.com/caitlin.murnick">Facebook</a><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
					</section>
					<section>
						<a href="https://www.linkedin.com/in/caitlin-murnick-8856764/">LinkedIn</a><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
					</section>
			</div>
	
			
	</div>

	
	

</div>
 -->