<div>
		<article>
			<h1>How To Contact Me</h1>
				<section> 	
					<a href="mailto:caitlinmurnick@gmail.com">caitlinmurnick@gmail.com</a><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
				</section>
				<section>
					<a href="https://github.com/cmurnick">Caitlin's GitHub</a><i class="fa fa-github fa-lg" aria-hidden="true"></i>
				<section>
					<a href="https://www.facebook.com/caitlin.murnick">Facebook</a><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
				<section>
					<a href="https://www.linkedin.com/in/caitlin-murnick-8856764/">LinkedIn</a><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
				</section>
		</article>
</div>
			
	<div class="footer text-center container-fluid" >
		<p>&copy; 2017 Caitlin Murnick</p>
	</div>


