<div class= "col-md-8 col-md-offset-2" >
	<div>
		<h1 class="text-center mainHeader">My Projects</h1>
	</div>

	<div class="project-holder ">
	
		<div ng-repeat="project in projects" class="col-xm-12 col-md-4 scrollAcross" >
			<div class="thumbnail text-center too">
					<img class="screenshot" ng-src="{{project.screenshot}}">
					<h2 class="text-uppercase project header title">{{project.name}} </h2>	<a class ="description project list link"href="{{project.link}}">Link to Github</a><br>
					<a class ="description project list deployLink"href="{{project.deployLink}}">{{project.deployLink}}
			</div>
		</div>
	</div>	
</div>









