.navbar {
  background-color: #aefcf3; }

.title {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left; }

.date {
  text-align: left;
  margin: 5px; }

/*#blog-holder {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
*/
body {
  padding-top: 70px;
  background-color: #f0f0f0; }

.set-height {
  display: block;
  display: -webkit-box;
  height: 150px;
  /*   margin: 0 auto;*/
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; }

.entireIndivBlog {
  min-height: 50px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  font-color: gray; }

.thumbnail {
  position: relative;
  min-height: 750px; }

.project {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  display: block;
  display: wrap; }
  .project .words {
    text-align: left; }
  .project .header {
    font-weight: bold;
    font-size: 28px; }
  .project .description {
    font-size: 18px; }
  .project .screenshot {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid lightgray;
    position: relative; }

.fa {
  color: darkGray;
  margin: 10px; }
