.navbar-light {
  margin: 0px; }

.navbar {
  background-color: white; }

body {
  margin-top: 60px;
  margin-bottom: 60px;
  color: gray; }

.aboutFlex {
  background-color: #b3d1d3;
  display: flex;
  justify-content: left;
  margin: auto;
  vertical-align: middle; }

.aboutMeDiv {
  margin-top: -10px; }

.aboutMe {
  background-color: white;
  margin-top: 100px;
  margin-left: 90px;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 25px; }
  .aboutMe .caitlinH1 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
    text-weight: bold;
    text-align: center; }
  .aboutMe .caitlinH4 {
    color: #8c8fd1;
    text-transform: normal;
    text-align: center;
    margin-bottom: 20px; }
  .aboutMe p {
    color: gray; }

.caitlin {
  position: relative;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 250px;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 37px 0px black;
  -moz-box-shadow: 10px 10px 37px 0px black;
  box-shadow: 10px 10px 37px 0px black;
  shadow: 42px 2px 10px 0px black; }

.title {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left; }

.date {
  text-align: left;
  margin: 5px; }

.set-height {
  display: block;
  display: -webkit-box;
  height: 150px;
  /*   margin: 0 auto;*/
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; }

.entireIndivBlog {
  min-height: 50px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  font-color: gray; }

.too {
  position: relative;
  min-height: 750px; }

.project {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  display: block;
  display: wrap; }
  .project .words {
    text-align: left; }
  .project .header {
    font-weight: bold;
    font-size: 28px; }
  .project .description {
    font-size: 18px; }
  .project .screenshot {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid lightgray;
    position: relative; }

.list {
  color: gray; }

.contactHeader {
  margin-top: 50px; }

.profile {
  border: 2px solid gray; }

.pictureCait {
  max-width: 250px;
  max-height: 250px; }

.fa {
  color: darkGray;
  margin: 10px; }
