.navbar-light {
  margin: 0px; }

.navbar {
  background-color: #f6f6f6; }

body {
  margin-top: 60px;
  margin-bottom: 60px;
  color: gray; }

.aboutFlex {
  background-color: #b3d1d3;
  display: flex;
  justify-content: left;
  margin: auto;
  vertical-align: middle; }

.aboutMeDiv {
  margin-top: -10px; }

.aboutMe {
  background-color: white;
  margin-top: 100px;
  margin-left: 90px;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 25px; }
  .aboutMe .caitlinH1 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
    text-weight: bold;
    text-align: center; }
  .aboutMe .caitlinH4 {
    color: #f79833;
    text-transform: normal;
    text-align: center;
    margin-bottom: 20px; }
  .aboutMe p {
    color: gray; }

.caitlin {
  position: relative;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 250px;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 37px 0px black;
  -moz-box-shadow: 10px 10px 37px 0px black;
  box-shadow: 10px 10px 37px 0px black;
  shadow: 42px 2px 10px 0px black; }

.overallBlogDiv {
  background-color: #b3d1d3;
  margin-top: -10px; }

.title {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: left; }

.date {
  text-align: left;
  margin: 5px; }

.set-height {
  display: block;
  display: -webkit-box;
  height: 150px;
  /*   margin: 0 auto;*/
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; }

.entireIndivBlog {
  min-height: 50px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  font-color: gray; }

.mainHeader {
  margin-bottom: 30px; }

.too {
  height: 300px; }

.project {
  justify-content: center;
  text-align: center; }
  .project .words {
    text-align: left; }
  .project .header {
    font-weight: bold;
    font-size: 20px;
    color: gray; }

.screenshot {
  margin-top: 5px;
  margin-bottom: 20px;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid lightgray;
  position: relative; }

.list {
  color: #88e1f7; }

.contactHeader {
  margin-top: 20px; }

.introduce {
  margin-bottom: 60px; }

.picture {
  padding: 0px;
  display: block;
  margin: 0 auto; }

.pictureCait {
  height: 100%; }

.detailHead {
  font-size: 20px;
  font-weight: bold; }

.detailH5 {
  font-size: 16px;
  margin-bottom: 3px;
  color: white; }

.detailP {
  font-size: 14px;
  font-style: italic; }

.education, .profile, .picture {
  background-color: #b3d1d3;
  height: 267.33px; }

.contactContainer {
  background-color: #b3d1d3; }

.WaysToContact {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  color: white;
  justify-content: center; }

.sectionInfo {
  align-content: center; }

.quoteContainer {
  background-color: #f79833;
  color: white;
  font-size: 24px;
  font-style: italic; }
  .quoteContainer .quote {
    margin-top: 20px;
    text-align: center;
    font-style: italic; }

.author {
  margin-left: 500px; }

.fa {
  color: white;
  margin: 10px; }
